body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

.middle-container {
  margin: 100px 0;
}

.top-intro {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.myname {
  padding-top: 5%;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 50px auto;
}

p {
  line-height: 2;
}

.Pro {
  text-decoration: underline;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer {
  float: right;
  margin-left: 30px;
}

.code {
  float: left;
  margin-right: 30px;
}

.bottom-cloud {
  position: absolute;
  margin-right: 200px;
}

.top-cloud {
  position: relative;
  margin-left: 500px;
}

.upper-layer {
  background-color: #E4F9F5;
  padding-top: 3%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 10px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

.mountain {
  position: relative;
  width: 50%;
}

.hello-down {
  color: #40514E
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom-style: none;
  width: 2.5%;
  margin: 100px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #2980b9);
  background-image: -moz-linear-gradient(top, #11CDD4, #2980b9);
  background-image: -ms-linear-gradient(top, #11CDD4, #2980b9);
  background-image: -o-linear-gradient(top, #11CDD4, #2980b9);
  background-image: linear-gradient(to bottom, #11CDD4, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #3498db);
  background-image: -moz-linear-gradient(top, #30E3CB, #3498db);
  background-image: -ms-linear-gradient(top, #30E3CB, #3498db);
  background-image: -o-linear-gradient(top, #30E3CB, #3498db);
  background-image: linear-gradient(to bottom, #30E3CB, #3498db);
  text-decoration: none;
}
