body {
  background-color: #eaf6f6;
}

hr {
  border-color: grey;
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: thick;
}

h1 {color: #3797a4;}
h2 {color: #3797a4;}
h3 {color: #3797a4;}
h4 {color: #3797a4;}
